
body {
	background: #87CEFA;
	width: 100%;
}

.logo{
	background-color: white;
}

.nome_do_site{
font-family: 'Great Vibes', cursive;
text-align: center;
font-size: 50px;
font-weight: bold;
margin-top: 15px;
}


.img{
	text-align: center;
}

.carrinho{
	text-align: center;
}

.reset{
	border-radius:5px;
	background-color:red;
	color:white;
}

.img{
	text-align: center;
	margin-top: 100px;
	padding-right: 200px;
}

.descricao{
	text-align: left;
}

.comprar{
	background-color: #A2B5CD;
}

.pesquisa{
	margin-top: 15px;
  font-style:italic;
  size:50px
} 

.rodape{
background-color: #A2B5CD;
font-style: italic;
}

.botao{
	float:left;
	background-size: 20px;
}

.filtro{
	margin-top: 15px;
}